Package: curp-verifier
Version: 0.1.0
Architecture: amd64
Maintainer: Raúl González <rafex@rafex.dev>
Installed-Size: $SIZE
Depends: $DEPENDS
Section: libs
Priority: optional
Homepage: https://github.com/rafex/my-repository/tree/main/src/rust/curp_verifier
Description: Biblioteca Rust para validar CURP
 Biblioteca ligera desarrollada en Rust para verificar CURP conforme al instructivo oficial del RENAPO.

