Package: curp-generator
Version: 0.1.1-2+rafex
Architecture: amd64
Maintainer: Raúl González <rafex@rafex.dev>
Installed-Size: 200
Depends: libc6 (>= 2.28)
Section: libs
Priority: optional
Homepage: https://github.com/rafex/my-repository/tree/main/src/rust/curp_generator
Description: Biblioteca Rust para generar CURP
 Biblioteca ligera desarrollada en Rust para generar CURP conforme al instructivo oficial del RENAPO.

