Package: {{PACKAGE}}
Version: {{VERSION}}
Architecture: {{ARCHITECTURE}}
Maintainer: {{MAINTAINER}}
Priority: {{PRIORITY}}
Section: {{SECTION}}
Depends: {{RUNTIME_DEPENDENCIES}}
Homepage: {{HOMEPAGE}}
Description: {{SUMMARY}}
 {{DESCRIPTION}}